@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Open+Sans|Roboto|Sriracha&display=swap');

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.roboto {
  font-family: 'Roboto';
}

.openSans {
  font-family: 'Open Sans';
}

.odibeeSans {
  font-family: 'Odibee Sans';
}
.sriracha {
  font-family: 'Sriracha';
}
